<section class="container-fluid">

	<div class="row" >
		<div class="col-sm-12" >

				<div class="img403">&nbsp;</div>

				<div class="row row1">
					<div class="col-sm-3 col-md-4">
						<h1 class="errorPage-big-font1">403:</h1>
					</div>
					<div class="col-sm-9 col-md-8 error403-detail-1">
						<h1 class="errorPage-medium-font1" >Unauthorized Access</h1>
					</div>
				</div>

				<div class="row">
					<p class="error403-detail-2">Sorry, You don't have access to view the page you requested. Please use different credentials or contact Client Service.</p>
				</div>
				
				<div class="row error403-detail-3">
					<div class="col-sm-12 col-md-9 col-lg-9 temp1" >
						<button ng-click="back()" class="btn btn-error-page">Back</button>
						<button class="btn btn-error-page">Home</button>
						<button class="btn btn-error-page">Client Service</button>
					</div>
				</div>

				<div class="row error403-detail-4">
						<a href="#/login" class="error403Login">or, login with different  credentials</a>
				</div>

		</div>
	</div>
</section>

