<section class="container-fluid" ng-init="init()">
  <div class="row">
    <div class="col-xs-12">
      <ng-include src="'views/orders/nav.html'"></ng-include>
      <section class="content full">
        <h2 class="thHead">Manage Orders</h2>
         <div class="container-fluid">
          <div class="row">
            <div class="col-sm-12 col-lg-9 padd0">
              <div class="thHeadIco glyphicon glyphicon-folder-close col-lg-1 col-sm-1 hidden-xs"></div>
              <div class="thContent col-lg-11 col-sm-10">
               Create, manage and track your orders from all channels. Orders can be created one at a time or in bulk by uploading a file using our standard template. If you are connected to a sales channel, your orders will be automatically imported. You can track your order through the various statuses from Pending to Delivered.
              </div>
              </div>
          </div>
        </div>
        <div class="clear"></div>
        <h4 class="sub-head thSubHead">Search Orders</h4>
        <form class="form-inline" role="form">
            <div class="row padBtm15px">
                <div class="col-sm-12">
                    <div class="form-group"  id="suggestion-holder">
                        <label class="sr-only" for="order-search-text">Search Orders</label>
                        <div class="input-group selectboxhldr">
                            <div class="thAll" multi-select input-model="orderFilterOptions" button-label="name" item-label="name" tick-property="ticked" selection-mode="single" helper-elements="" output-model="searchColumn" id="order-search-column"></div>
                            <input type="text" class="thSearch form-control" id="order-search-text" placeholder="Search Orders" ng-model="searchKey" ng-focus="findSuggestion(searchKey, searchColumn)" ng-change="findSuggestion(searchKey, searchColumn)">
                        </div>
                        <div class="list-group suggestion-box" id="order-search-suggestion" ng-if="suggestions.length">
                          <a ng-repeat="suggest in suggestions" href="javascript:;" ng-click="suggestNavigation(suggest)" class="list-group-item">
                              <span ng-bind-html="highlightSuggest(suggest.merchantOrderId, searchKey)"></span>
                              <em ng-bind-html="'ORDER ID: ' + highlightSuggest(suggest.ezcOrderId, searchKey) + ','"></em>
                              <em ng-bind-html="'ORDER STATUS: ' + highlightSuggest(suggest.orderStatus, searchKey) + ','"></em>
                              <em ng-bind-html="'PRODUCT ID: ' + highlightSuggest(suggest.productCode, searchKey)"></em>
                              <em ng-bind-html="'EZY-SKU: ' + highlightSuggest(suggest.ezcSku, searchKey) + ','"></em>
                              <em ng-bind-html="'SKU: ' + highlightSuggest(suggest.merchantSku, searchKey)"></em>
                            </a>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="sr-only" for="order-date-range">Created Date Range</label>
                        <div class="input-group order-date thCreDate">
                            <div multi-select input-model="dateOptions" output-model="date" button-label="name" item-label="name" tick-property="ticked" selection-mode="single" helper-elements="none" default-label="Created Date Range" disable-property="label" id="order-date-range"></div>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="sr-only" for="order-search-type">Inventory Type</label>
                        <div class="input-group order-inventory thCreDate">
                            <div multi-select input-model="orderInventoryOptions" output-model="inventory" button-label="name" item-label="name" tick-property="ticked" selection-mode="single" helper-elements="none" default-label="Inventory Type" disable-property="label" id="order-inv-type"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="order-date-range">Order Channel</label>
                        <div class="input-group order-channel thCreDate">
                            <div multi-select input-model="orderChannelOptions" output-model="channel" button-label="name" item-label="name" tick-property="ticked" selection-mode="single" helper-elements="none" default-label="Order Channel" disable-property="label" id="order-channel-filter"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="sr-only" for="order-search-type">Order Type</label>
                        <div class="input-group order-type thCreDate">
                            <div multi-select input-model="orderTypeOptions" output-model="type" button-label="name" item-label="name" tick-property="ticked" selection-mode="single" helper-elements="none" default-label="Order Type" disable-property="label" id="order-search-type"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group thAppFil">
                            <button class="btn btn-primary thButton" ng-click="applyFilter()" id="order-search-apply">Apply Filter</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group thAppFil">
                            <button class="btn btn-default" ng-click="resetFilter()" id="order-filter-reset">Reset</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2 col-lg-4 actions">
                    <div class="form-group">
                        <label class="sr-only" for="order-search-action">Actions</label>
                        <div class="input-group">
                            <div class="btn-group thAppAct">
                                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="order-search-action" ng-disabled="isOptionVisible('action')">
                                    Action <span class="caret"></span>
                                </button>
                                <label class="rowCount" ng-if="gridOptions.selectedItems.length">{{gridOptions.selectedItems.length}} row(s) selected</label>
                                <ul class="dropdown-menu" role="menu">
                                    <li ng-if="isOptionVisible('approve')"><a href="javascript:;" id="order-action-approve">Approve</a></li>
                                    <li ng-if="isOptionVisible('cancel')"><a href="javascript:;" id="order-action-cancel">Cancel</a></li>
                                    <li ng-if="isOptionVisible('restore')"><a href="javascript:;" id="order-action-restore">Restore</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="form-group thDateFrom" ng-show="date[0].value=='custom'">
                        <label class="sr-only" for="order-search-fromdate">From Date</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="order-search-fromdate" ng-model="fromdate" data-date-format="dd/mm/yyyy" readonly/>
                            <label class="input-group-addon" for="order-search-fromdate"><i class="glyphicon glyphicon-calendar"></i>
                            </label>
                        </div>
                    </div>
                    <div class="form-group thDateTo" ng-show="date[0].value=='custom'">
                        <label class="sr-only" for="order-search-todate">To Date</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="order-search-todate" ng-model="todate" data-date-format="dd/mm/yyyy" readonly/>
                            <label class="input-group-addon" for="order-search-todate"><i class="glyphicon glyphicon-calendar"></i>
                            </label>
                        </div>
                    </div>
              <span class="rowSelectedTxt" ng-if="showSelected">
                <span ng-bind="showSelectedLength"></span> row(s) selected
              </span>
                </div>
                
              <div class="col-sm-10 col-lg-8">
               <div class="pull-right">
                <div class="showingPage pull-left" ng-if="myData.length">
                  Showing {{fromRecord}}-{{toRecord}} of {{totalRecord}} orders
                </div>
                <div class="views pull-left" ng-if="myData.length"> view
                   <select ng-model="pagingOptions.pageSize" class="showingView">
                    <option ng-repeat="size in pagingOptions.pageSizes">{{size}}</option>
                  </select> per page
                </div>
                <div class="pagingout pull-left">
                    <ul class="pagingContainer" ng-if="myData.length">
                        <li><a href="javascript:void(0)" class="pageFirst"><span ng-click="paging(1)">&lt;&lt;</span></a></li>
                        <li><a href="javascript:void(0)" class="paging"><span ng-click="paging(pagingOptions.currentPage-1)">&lt;</span></a></li>

                        <li ng-repeat="pageSizeClicks in pageSize.pageSizeClickLength" ng-class="{pageHighLight:pageSizeClicks == pagingOptions.currentPage}">
                            <a ng-class="{pageHighLightColor:pageSizeClicks == pagingOptions.currentPage}" href="javascript:void(0);" ng-click="paging(pageSizeClicks)"><span>{{pageSizeClicks}}</span></a>
                        </li>

                        <li><a href="javascript:void(0)" class="paging"><span ng-click="paging(pagingOptions.currentPage+1)">&gt;</span></a></li>
                        <li><a href="javascript:void(0)" class="pageLast"><span ng-click="paging(pagingOptions.currentPage+1, 'last')">&gt;&gt;</span></a></li>
                    </ul>
                </div>
                <div class="sort txtRight pull-left">
                  
                  <div class="form-group">
                    <label class="sr-only" for="searchProducts">Sort By: Category</label>
                    
                      <div class="input-group">
                        <!-- <input type="checkbox" name="action" /> -->
                        <div class="btn-group thAppAct thAppSort">
                          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="product-sort-category">
                            Sort By : <span ng-bind="sortingOptions.name"></span>
                          </button>
                          <button type="button" class="btn btn-primary" id="product-sort-action" ng-click="sortDirection()">
                            <span ng-class="{'glyphicon glyphicon-sort-cat':!sortLogo(),'glyphicon glyphicon-sort-cat-asc':sortLogo()}"></span>
                          </button>
                          <ul class="dropdown-menu" role="menu">
                           <li ng-click="sort('createdDate','Created Date')"><a href="javascript:;" id="product-action-create-shipment">Created Date</a></li>
                           <li ng-click="sort('ezcOrderNumber','Fulfillable Order Id')"><a href="javascript:;" id="product-action-create-shipment">EZY Order ID</a></li>
                           <li ng-click="sort('merchantOrderId','Merchant Order Id')"><a href="javascript:;" id="product-action-create-shipment">Merchant Order ID</a></li>
                          </ul>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
              </div>  
            </div>
        </form>

        <!-- Table Starts -->

        <div class="newGridContainer container-fluid paddbtm10">
          
            <div class="row ordHeader">
  
              <div class="ordHeaEditH col-xs-12 col-sm-1 col-md-1">
                <div class="checkboxFive">
                  <input type="checkbox" value="" id="" name="" ng-click="toggleCheckBox()" ng-model="toggleCheckBoxVal"/>
                </div>
              </div>
            
              <div class="ordHeaOrdH col-xs-12 col-sm-4 col-md-3">Order</div>
              <div class="ordHeaChaH col-xs-12 col-sm-4 col-md-1">Channel</div>
              <div class="ordHeaTraH col-xs-12 col-sm-3 col-md-1" ng-show="isOptionVisible('trackingNumber')">Tracking Number</div>
              <div class="ordHeaDelH col-xs-12 col-sm-3 col-md-2">Delivery By</div>
              <div class="ordHeaDatH col-xs-12 col-sm-4 col-md-2">Date</div>
              <div class="ordHeaStaH col-xs-12 col-sm-4 col-md-1" ng-show="isOptionVisible('orderStatus')">Status</div>
              <!--<div class="ordHeaProH col-sm-3 col-md-1">Products</div>-->
              <div class="ordHeaShiH col-xs-12 col-sm-3 col-md-2">Ship To Address</div>
              <!--<div class="ordHeaRemH col-xs-12 col-sm-3 col-md-1" ng-show="isOptionVisible('remarks')">Remarks</div>-->
              <div class="ordHeaRemH col-xs-12 col-sm-3 col-md-1" ng-show="isOptionVisible('products')">Products</div>
  
            </div>
           <div class="clearfix"></div>
            
            <div class="row ordRow paddbtm4" ng-repeat="order in myData" ng-class="{rowSelected:order.Selected}">
  
              <div class="ordHeaEdit col-xs-12 col-sm-1 col-md-1">
                <div class="checkboxFive">
                  <input type="checkbox" value="" id="" name="" ng-model="order.Selected"/>
                </div>
              </div>
            
              <div class="ordHeaOrd col-xs-12 col-sm-4 col-md-3">
                
                <div class="pull-left">
                  <div class="ordCircleBlue"></div>
                  <div class="ordArrow collapsed" data-toggle="collapse" data-target=".ordersBottom-{{order.ezcOrderNumber}}"><span class="glyphicon glyphicon-ord-ordRightArrow"></span></div>
                </div>               
                
                <div class="ezcOrdContainer">
                    <div class="ezcOrdNo font-style-1">   
                      <span data-toggle="tooltip" data-placement="top" title="Merchant Order ID" ng-bind="order.merchantOrderId || constants.notAvailable" ></span>
                      <div class="editFlight">
                        <a ng-show="isOptionVisible('ordersEdit')" id="edit-order-{{order.orderHeaderId}}" ng-href="#/orders/edit/{{order.orderHeaderId}}" title="Edit"><span data-toggle="tooltip" data-placement="top" title="Edit" class="glyphicon glyphicon-edit-grid"></span>
                        </a>
                        <a ng-show="isOptionVisible('ordersView')" id="edit-order-{{order.orderHeaderId}}" ng-href="#/orders/view/{{order.orderHeaderId}}" title="View"><span data-toggle="tooltip" data-placement="top" title="View" class="glyphicon glyphicon-view-grid"></span></a>
                        <a ng-show="isOptionVisible(order.orderStatus)" title="Has Issues" class="glyphicon glyphicon-view"><span data-toggle="tooltip" data-placement="top" title="Has Issues" class="glyphicon glyphicon-has-issue"></span></a>
                      </div>
                    </div>
                    
                    <div class="ezyOrdID">
                      <span class="">EZY-Order ID : <span ng-bind="order.ezcOrderNumber"></span></span>
                    </div>
                    
                    <div class="dispOrdID txtItalic">
                      <span class="">Displayable Order ID : <span ng-bind="order.displayableOrderId"></span></span>
                      <span class="eEan" ng-if="product.codeType">
                        <span ng-bind="product.codeType"></span> :
                        <span ng-bind="product.articleCode | addEllipse:7"></span>
                    </div>
                </div>
                <div class="clearfix"></div>
              </div>
              
              <div class="ordHeaCha col-xs-12 col-sm-4 col-md-1">
                <span ng-bind="order.channel"></span>
              </div>
              
              <div class="ordHeaTra col-xs-12 col-sm-3 col-md-1" ng-show="isOptionVisible('trackingNumber')">
                <span ng-bind="order.displayableOrderId | addEllipse:10"></span>
              </div>
              
              <div class="ordHeaDel col-xs-12 col-sm-3 col-md-2">
                <div class="">
                  <!--<span ng-bind="order.shipping.methodName"></span>-->
                  <!--<span class="txtRed txtItalic" ng-bind="constants.unidentified"></span>-->
                  <span ng-bind="order.shipping.methodName || constants.unidentified" ng-class="{'txtRed txtItalic':!getShippingClass(order.shipping.methodName)}"></span>
                </div>
                <div>
                  <span class="txtItalic"><span ng-bind="product.weight"></span></span>
                  <span class="kg txtItalic"><span ng-bind="product.weightUnit"></span></span>
                </div>
              </div>
              
              <div class="ordHeaDat col-xs-12 col-sm-4 col-md-2">
                <div class="crDate">
                  Created : <span ng-bind="order.createdDate || constants.notAvailable"></span>
                </div>
                <div class="lsDate">
                  Modified : <span ng-bind="order.modifiedDate || constants.notAvailable"></span>
                </div>
              </div>
              
              <div class="ordHeaSta col-xs-12 col-sm-4 col-md-1" ng-show="isOptionVisible('orderStatus')">
                <span ng-bind="formatOrderStatus(order.orderStatus)"></span>
              </div>
              
              <!--
              <div class="ordHeaPro col-sm-3 col-md-1">
                <div class="crDate fullColor txtBold">
                  <span ng-bind="order.orderLineCount || constants.notAvailable"></span> SKUs
                </div>
                <div class="lsDate">
                  Units : <span ng-bind="order.modifiedDate || constants.notAvailable"></span>
                  <span> 3 | 5 kg</span>
                </div>
              </div> -->
              
              
              <div class="ordHeaShi col-xs-12 col-sm-3 col-md-2" data-toggle="tooltip" data-placement="top" title="{{(order.shipping.deliveryType=='INTERNATIONAL') ? 'International' : 'Domestic'}}" >
                 
                 <div class="pull-left">
                  <span ng-class="{'glyphicon glyphicon-flight-grid-ordersUnapp':order.shipping.deliveryType=='INTERNATIONAL'}"></span>
                 </div>
                
                 <div class="ordShipCont" ng-class="{txtRed:getOrdShipClass(order.customer.shippingAddress)}">
                    <!-- 1st line -->
                     <div class="ezcOrdNo font-style-2-bold">
                       <span ng-bind="order.customer.shippingAddress.lastname || constants.notAvailable | addEllipse:12"></span>
                       <span ng-bind="order.customer.shippingAddress.firstname || constants.notAvailable | addEllipse:12"></span>
                     </div>
                     <!-- 2nd Line -->
                     <div class="ezyOrdID font-style-2">
                       <span class=""><span ng-bind="order.customer.shippingAddress.address1  | addEllipse:12"></span></span>
                     </div>
                     <!-- 3rd Line -->
                     <div class="dispOrdID" >
                       <span class="">
                         <span ng-bind="getCountryName(order.customer.shippingAddress.countryCode)"></span>
                         -
                         <span ng-bind="order.customer.shippingAddress.postalCode || constants.notAvailable | addEllipse:12"></span>
                       </span>
                     </div>
                  </div>
                 
                </div>
              
              <div class="ordHeaRem col-xs-12 col-sm-3 col-md-1" ng-show="isOptionVisible('products')">
                <div class="crDate fullColor txtBold">
                  <span ng-bind="order.orderLineCount || constants.notAvailable"></span> SKUs
                </div>
                
                <!--<div class="lsDate">
                  Units : <span ng-bind="order.modifiedDate || constants.notAvailable"></span> <br>
                  <span> 3 | 5 kg</span>
                </div>-->
                
                <div class="lsDate">
                  Units : {{getOrderUnits(order)}} 
                </div>
                
              </div>
              
              
            <div class="clearfix"></div>
             <div class="container-fluid">
                <div class="row" ng-repeat="ordBottom in order.lineItems">
                  <div class="ordersBottomContainer col-xs-6 col-sm-9 col-md-9 col-md-push-1 col-sm-push-1 col-xs-push-1">
                      <div class="row ordersBottom collapse ordersBottom-{{order.ezcOrderNumber}}">
                       
                        <div class="col-xs-6 col-sm-4 col-md-2">
                          <span ng-class="{ordActCircle:ordBottom.isActive,ordInactActCircle:!ordBottom.isActive}"></span>
                          <span class="paddall5" ng-class="{'txtRed txtItalic':!ordBottom.merchantSku}" ng-bind="ordBottom.merchantSku || constants.skuNotAvailableText"></span>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-3">
                          <span class="paddall5" ng-class="{'txtRed txtItalic':!ordBottom.description}" ng-bind="ordBottom.description || constants.unidentified | addEllipse:15"></span>
                        </div>
                        <div class="col-xs-6 col-sm-4 col-md-2">
                          <span class="paddall5 txtItalic" ng-class="{'txtRed':!ordBottom.ezcSku}" ng-bind="ordBottom.ezcSku || constants.unidentified"></span>
                        </div>
                        <div class="col-md-1 ordBottomCat col-sm-3 col-xs-4"><span class="txtRed txtItalic">Unidentified</span></div>
                        <div class="col-xs-4 col-sm-4 col-md-1 ordBottomUnits">
                          <span class="paddall5" ng-class="{'txtRed txtItalic':!ordBottom.quantity}" ng-bind="ordBottom.quantity+' Unit(s)' || constants.unidentified | addEllipse:10"></span>
                        </div>
                        <div class="col-md-1 col-sm-4 col-xs-4">
                          <span class="txtRed paddall5" ng-class="{'txtRed txtItalic':!ordBottom.productWeight}" ng-bind="ordBottom.productWeight || constants.unidentified"></span>
                        </div>
                        <div class="col-md-1 col-sm-1 col-xs-4">
                          <span ng-class="{'glyphicon glyphicon-flight-ok-grid':ordBottom.isExportable,'glyphicon glyphicon-flight-grid':!ordBottom.isExportable,'txtRed glyphicon glyphicon-flight-grid':!ordBottom.isExportable && order.shipping.deliveryType!='DOMESTIC'}"></span>
                        </div>
                      </div>
                  </div>
                </div>
              </div>
            
            
              </div>
              
              <div class="row proRow" ng-if="!myData.length">
            
                <div class="noRecordDisplay col-sm-12 col-md-12 col-lg-12">
                  No data to display
                </div>
          
             </div>
              
              
              <!--<div class="ordHeaRem col-sm-3 col-md-1 col-lg-1" ng-show="isOptionVisible('remarks')">
                <span ng-bind="order.remark || constants.notAvailable | addEllipse:25"></span>
              </div>-->
              
              
              
            </div>
  
      </div>
      
    </div>


      
      </section>
    </div>
  </div>
</section>